# This file is part of Netatalk 4.1.2.
# customized by blake

[Unit]
Description=Netatalk AppleTalk daemon
Documentation=man:atalkd(8) man:atalkd.conf(5) man:nbp(1)
Documentation=https://netatalk.io/
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
ExecStartPre=/bin/sh -c 'systemctl set-environment ATALK_NAME=$$(hostname|cut -d. -f1)'
ExecStart=/usr/sbin/atalkd
ExecStartPost=-/usr/bin/nbprgstr -p 4 "${ATALK_NAME}:Workstation"
ExecStartPost=-/usr/bin/nbprgstr -p 4 "${ATALK_NAME}:netatalk"
PIDFile=/var/lock/atalkd
Restart=always
RestartSec=1
RestrictNetworkInterfaces=lima0

[Install]
WantedBy=multi-user.target
