[Unit]
Description=JRouter Service
After=network.target

[Service]
Type=simple
Environment=LINUX_USER_HOME=/home/blake.linux
Environment=HOST_CONFIG_DIR=/Users/blake
ExecStart=${LINUX_USER_HOME}/go/bin/jrouter -config ${HOST_CONFIG_DIR}/config/jrouter.yaml
Restart=on-failure
RestartSec=5s
# RestrictNetworkInterfaces=lima1

[Install]
WantedBy=multi-user.target
